name: Build ISO

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Free disk space
        run: |
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /opt/ghc
          sudo df -h

      - name: Build ISO
        run: sudo ./build-iso.sh

      - name: Upload ISO
        uses: actions/upload-artifact@v4
        with:
          name: a5000mine-iso
          path: build/a5000mine.iso
          retention-days: 30
